<?php

$smtp_host = 'smtp.etu.u-bourgogne.fr';
$smtp_auth = true;
$smtp_username = 'VotreNomDUtilisateurTropGénial';
$smtp_password = 'VotreMotDePasseUltraSécurisé';
$smtp_security = 'tls';
$smtp_port = 587;

?>
